<html>
	<head>
	<title>Site Title</title>
	   <!-- js and css files referenced here -->
	</head>
	<body>
	   <?php $this->partial('partials/header'); ?>
     <?php echo $this->getContent(); ?>
     <?php $this->partial('partials/footer'); ?>
	</body>
</html>