<?php
echo "<div id=\"divHeaderMenu\" style=\"width:100%;height:30px;border:solid 1px green;\">\n";
echo "   <span id=\"divMenuItemZero\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("main/main", "Go To Zero") . "</span>";
echo "   <span id=\"divMenuItemOne\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("one/one", "Go To One") . "</span>";
echo "   <span id=\"divMenuItemTwo\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("two/two", "Go To Tow") . "</span>";
echo "   <span id=\"divMenuItemThree\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("three/three", "Go To Three") . "</span>";
echo "   <span id=\"divMenuItemFour\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("four/four", "Go To Four") . "</span>";
echo "   <span id=\"divMenuItemFour\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("main/proceed", "Proceed Link Test") . "</span>";
echo "   <span id=\"divMenuItemFour\" style=\"height:25px;border:solid 1px black;padding:2px;\">" . \Phalcon\Tag::linkTo("login/login", "Login/Redirection Test") . "</span>";
echo "</div>\n";
?>