﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <?php
		echo '<link href="/PhalconEnhancedWebpages/public/ui/kendo/styles/kendo.common.min.css" type="text/css" rel="stylesheet"/>';
        echo '<link href="/PhalconEnhancedWebpages/public/ui/kendo/styles/kendo.black.min.css" type="text/css" rel="stylesheet"/>';
        echo '<link href="/PhalconEnhancedWebpages/public/ui/css/common/info.css" type="text/css" rel="stylesheet"/>';
        echo '<link href="/PhalconEnhancedWebpages/public/ui/css/common/common.css" type="text/css" rel="stylesheet"/>';
        echo '<script src="/PhalconEnhancedWebpages/public/ui/kendo/js/jquery.min.js" type="text/javascript"></script>';
        echo '<script src="/PhalconEnhancedWebpages/public/ui/kendo/js/jquery.migrate.js" type="text/javascript"></script>';
        echo '<script src="/PhalconEnhancedWebpages/public/ui/kendo/js/kendo.all.min.js" type="text/javascript"></script>';
    ?>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogin").kendoButton();

            $("#Password").on('keypress', function (e) {
                if(e.keyCode == 13)
                {
                    $("#btnLogin").trigger('click');
                }
            });

            $("#UserName").focus();

        });

        function btnLogin_click(sender)
        {
            var uNameValue = $("#UserName").val();
            var pWordValue = $("#Password").val();

            if(uNameValue == "" || pWordValue == "")
            {
                $("#divMessages").text("Please make sure both username and password are provided");
                $("#divMessages").show();
            }
            else {

                var url = "<?= $this->url->get("login/loginUser") ?>";
                var type = 'POST';
                var data = { "action": "login", "UserName": uNameValue, "Password": pWordValue };
                var dataType = 'html';

                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    dataType: dataType,
                    success: loginSuccessFunction,
                    error: loginErrorFunction
                });
            }
        }

        function loginSuccessFunction(data, textStatus, jqXHR)
        {
            // it should never get here since a successful login means redirection to the index.html page
            // ...... unless the call was made via ajax.  If so, a successful function will return here and we should redirect to index.html.
            window.location = "index.html";

        }

        function loginErrorFunction(jqXHR, textStatus, errorThrown)
        {
            alert("error login in");
        }
    </script>
</head>
<body class="k-content">
    <div id="divMain" style="width:100%;height:100%;position:absolute;">
        <div id="divContent" style="width:300px;height:300px; margin:0px auto;display:table;position:relative;top:50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);">
            <fieldset>
                <legend>Login</legend>
                <div id="divLogos" style="display:block;height:60px;">
                    <div id="divLogoLeft" style="float:left;">
                        
                    </div>
                    <div id="divLogoRight" style="float:right;">
                      
                    </div>
                </div>
                <div id="divInputsSection" style="display:block;text-align:center;">
                    <div id="divUserNameLabel">User Name:</div>
                    <div id="divUserNameInput">
                        <input type="text" id="UserName" class="k-input k-textbox" name="UserName"/>
                    </div>
                    <br/>
                    <div id="divPasswordLabel">Password: </div>
                    <div id="divPasswordInput">
                        <input type="password" id="Password" class="k-input k-textbox" name="Password"/>
                    </div>
                    <br/>
                    <div id="divLoginButtons">
                        <button type="button" id="btnLogin" onclick="btnLogin_click(this);">Login</button>
                    </div>
                </div>
                <div id="divMessages" style="display:none;"></div>
            </fieldset>
        </div>
    </div>

</body>
</html>